@charset "UTF-8";
#blog-header{
		margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    /* height: 200px; */
    background-color: #CDDC39;
    box-shadow: 1px 1px 8px #ccc;
}

#searchOutput{
	display : none;
	padding: 1em;
    font-size: 1.5rem;
    background-color: #f4e470;
}

span.hl {
    font-weight: bold;
    background-color: yellow;
}