<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BanHistoryMapper">

	<insert id="ban" parameterType="BanHistory">
		INSERT INTO tb_ban_history (ADMIN, REASON,POST)
		VALUES(#{admin}, #{reason},#{post});
	</insert>
	
	<select id="GetBanHistoryByPost"
		resultType="BanHistory"
		 parameterType="Post">
		select * 
		from tb_ban_history
		where post = #{seq}
	</select> 
	
	<select id="findRecentBan" parameterType="Post" resultType="BanHistory">
		select * 
		from tb_ban_history
		where post = #{seq}
		ORDER BY bantime DESC
		LIMIT 1;
	</select>
</mapper>