<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BlogPostMapper">
	<resultMap type="LocalUpFile" id="upFileMap">
		<id column="seq" property="seq"/>
		<result column="originName" property="originalName"/>
		<result column="genName" property="genName"/>
		<result column="fileSize" property="fileSize"/>
		<result column="contentType" property="contentType"/>
		<result column="post" property="post"/>
		<result column="origin" property="origin"/>
	</resultMap>
	<resultMap type="Post" id="PostMap">
		<id column="pseq" property="seq"/>
		<result column="title" property="title" />
		<result column="contents" property="contents"/>
		<result column="creation_date" property="creationDate"/>
		<result column="view_count" property="viewCount"/>
		<result column="open" property="open"/>
		<!-- <result column="writer" property="writerSeq"/> -->
		<association 
			column="writer" 
			property="writer" 
			select="UserMapper.findUserV1"/>
		<collection property="upFiles" ofType="LocalUpFile" resultMap="upFileMap"/>
		<!-- join query!!! FIXME
		<association 
			column="writer" 
			property="writer" 
			resultMap="UserMapper.UserMap"/>
		 -->
	</resultMap>
	<!-- 
		integer -> java.lang.Integer
		_int -> int, _long, _double
		long, double, short -. java.lang.Long ...
		
		map : java.util.Map
	 -->
	<!-- <select id="findPostBySeq" parameterType="integer" resultType="naver.ppojoji.blog.dto.Post">
	select
		seq,
		title,
		contents,
		creation_date as creationDate,
		view_count as viewCount,
		writer as writerSeq
	from
		TB_POST
	where
		seq = #{id}
	</select> -->
	<sql id="select_post">
		p.seq as pseq,
		p.title,
		p.contents,
		p.creation_date,
		p.view_count,
		p.writer,
		p.open
	</sql>
	<select id="findPostBySeq" parameterType="integer" resultMap="PostMap">
	select
		<include refid="select_post"></include>
		, f.*
	from
		TB_POST p
	left join 
		tb_files f
	on
		p.seq = f.post
	where
		p.seq = #{id}
	</select>
	
	<select id="findAllPost" resultMap="PostMap" parameterType="String">
	select
		<include refid="select_post"></include>
	from
		TB_POST p
	where open = #{open}
	</select>
	<insert id="insertPost" parameterType="map">
		insert into TB_POST (
			seq,
			TITLE,
			contents,
			writer
		) values (
			tb_post_seq.nextval,
			#{title},
			#{contents},
			#{writeSeq}
		)
		<selectKey keyProperty="seq" resultType="integer" order="AFTER">
			SELECT TB_POST_SEQ.currval FROM dual
		</selectKey>
	</insert>
	<update id="updatePost" parameterType="map">
		update tb_Post
		set
			title = #{title}
			, contents = #{contents}
		where
			seq = #{postSeq} 
	</update>
	<delete id="deletePost" parameterType="Integer">
		delete from tb_Post
		where seq=#{id}
	</delete>
	<update id="viewCount" parameterType="Integer">
		update TB_POST 
		set view_count = view_count + 1
		where seq = #{seq}
	</update>
	<select id="open" parameterType="String" resultMap="PostMap">
		select
		<include refid="select_post"></include>
		from
			TB_POST p
		where open=#{id}
	</select>
	<update id="updateOpen" parameterType="map">
		update tb_post 
		set open = #{isOpen}
		where seq = #{postSeq}
	</update>
</mapper>