<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FileMapper">
	<insert id="fileSave" parameterType="map" useGeneratedKeys="true" keyProperty="seq">
		INSERT INTO tb_files(
			originname,genname,filesize,contenttype,post)
		VALUES (
			#{originName},
			#{genName},
			#{fileSize},
			#{contentType},
			#{post}
			)
	</insert>
	<select id="FindFile" parameterType="String" resultMap="BlogPostMapper.upFileMap">
		select * 
		from tb_files 
		where genname = #{id}
	</select>
	<delete id="deleteFile" parameterType="LocalUpFile">
		delete from tb_files
		where seq = #{seq}
	</delete>
	<select id="findUserfiles" parameterType="int" resultMap="BlogPostMapper.upFileMap">
		  SELECT
		  	f.* 
		  FROM tb_post p
		  INNER JOIN tb_files f
		          ON p.seq = f.post
		  WHERE writer = #{seq}
	</select>
</mapper>