<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MailingMapper">
	<insert id="registerMail" parameterType="Map">
		insert into tb_mailjob(seq 
							  , subject
							  ,content
							  ,sendtime
							  ,sender
							  ,sendresult
							  ,receiver
							  )
		values(
				TB_MAILJOB_SEQ.nextval
				,#{subject}
				,#{content}
				,CURRENT_TIMESTAMP
				,#{sender} 
				,-1
				, #{receiver}
			   )
	</insert>
	<select id="getBeforeMail" resultType="Mail">
		select seq, subject ,content ,sender , sendresult ,receiver 
		from tb_mailjob 
		where sendresult = '-1'
	</select>
	<update id="updateMailingResult" parameterType="map">
		update tb_mailjob 
		set sendresult = #{resCode}
		where seq = #{jobSeq}
	</update>
</mapper>