<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="MessageMapper">
 <insert id="messageInsert" parameterType="Message">
 	insert into tb_message(seq, sender, receiver ,CONTENT, sendtime ) 
			values(tb_message_seq.nextval,#{sender},#{receiver},#{content},CURRENT_TIMESTAMP) 
 </insert>
 <select id="findMessages" parameterType="Integer" resultType="Message">
 	select sender 
		 , receiver
		 , content
		 , sendtime
		 , readtime
		 , seq 
	from tb_message
	where receiver = #{receiver}
 </select>
 <delete id="deleteMessage" parameterType="Integer">
		delete from tb_Message
		where seq=#{seq}
</delete>
<select id="readMessage" parameterType="Integer" resultType="Message">
	select sender 
		 , receiver
		 , content
		 , sendtime
		 , readtime
		 , seq 
	from tb_message
	where seq = #{seq}
</select>
<update id="updateMessage" parameterType="Integer">
	update tb_message
	set readtime = sysdate
	where seq = #{seq}
</update>
 </mapper> 