<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="ReplyMapper">
 	<resultMap type="Reply" id="ReplyMap">
 		<id column="seq" property="seq" />
 		<result column="content" property="content"/>
 		<result column="replyTime" property="replyTime"/>
 		<!-- <result column="writer" property="writer"/> -->
 		<result column="parent" property="parent"/>
 		<association 
			column="writer" 	
			property="writer" 
			select="UserMapper.findUserV1"/>
 	</resultMap>
 	<insert id="replyInsert" parameterType="Reply" useGeneratedKeys="true" keyProperty="seq">
 		insert into TB_REPLY(content,writer,reply_time,parent) 
 		values(
 			#{content},
 			#{writer.seq},
 			#{replyTime},
 			#{parent})
 	</insert>
 	
 	<select id="selectReply" parameterType="Integer" resultMap="ReplyMap">
 		select  
 			seq,
 			content,
 			writer,
 			reply_time as replyTime,
 			parent
		from TB_Reply 
		where parent = #{parent}
		order by reply_time desc
 	</select>
 	<select id="selectReplyBySeq" parameterType="Integer" resultMap="ReplyMap">
 		select  
 			seq,
 			content,
 			writer,
 			reply_time as replyTime,
 			parent
		from TB_Reply 
		where seq = #{id}
 	</select>
 	<delete id="replyDelete" parameterType="Integer">
	 	delete from tb_reply
	 	where seq=#{seq} 
	 </delete>
	 
 </mapper>