<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="ReplyMapper">
 	<insert id="replyInsert" parameterType="Reply">
 		insert into TB_REPLY(seq,title,content,writer,pwd,reply_time,parent) 
 		values(
 			tb_reply_seq.nextval,
 			#{title},
 			#{content},
 			#{writer},
 			#{pwd},
 			#{replyTime},
 			#{parent})
 	</insert>
 	<select id="selectReply" parameterType="Integer" resultType="Reply">
 		select  
 			seq,
 			title,
 			content,
 			writer,
 			pwd,
 			reply_time as replyTime,
 			parent
		from TB_Reply 
		where parent = #{parent}
		order by reply_time desc
 	</select>
 </mapper>