<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StatMapper">
	<select id="statDayJoinUser" resultType="CountStat" parameterType="map">
		SELECT 
			tu.joindate  AS `range`,
		   SUM(CASE WHEN tu.`mode` = 'J' THEN 1 ELSE 0 END) AS joinCnt,
		   SUM(CASE WHEN tu.`mode` = 'D' THEN 1 ELSE 0 END) AS delCnt
		FROM tb_stat_users tu
		<![CDATA[
			WHERE joindate >= #{start} and joindate < #{end} 
		]]>
		GROUP BY tu.joindate
	</select>
	
	<select id="statWeekJoinUser" resultType="CountStat" parameterType="map">
		SELECT 
			DATE_FORMAT(tu.joindate,'%Y-%U') AS `range`,
		   SUM(CASE WHEN tu.`mode` = 'J' THEN 1 ELSE 0 END) AS joinCnt,
		   SUM(CASE WHEN tu.`mode` = 'D' THEN 1 ELSE 0 END) AS delCnt
		FROM tb_stat_users tu
		<![CDATA[
			WHERE joindate >= #{start} and joindate < #{end} 
		]]>
		GROUP BY DATE_FORMAT(tu.joindate,'%Y-%U')
	</select>
	
	<select id="statMonthJoinUser" parameterType="map" resultType="CountStat">
		SELECT 
			DATE_FORMAT(tu.joindate,'%Y-%m') AS `range`,
		   SUM(CASE WHEN tu.`mode` = 'J' THEN 1 ELSE 0 END) AS joinCnt,
		   SUM(CASE WHEN tu.`mode` = 'D' THEN 1 ELSE 0 END) AS delCnt
		FROM tb_stat_users tu
		<![CDATA[
			WHERE joindate >= #{start} and joindate < #{end} 
		]]>
		GROUP BY DATE_FORMAT(tu.joindate,'%Y-%m')
	</select>
	<insert id="insertUserStat" parameterType="map">
		insert into tb_stat_users(
			mode,
			joindate,
			user_ref
		) values(
			#{mode},
			#{joindate},
			#{user_ref}
		) 
	</insert>
	
	<select id="statDayCommunity" resultType="CountCommunityStat" parameterType="map">
		SELECT DATE_FORMAT(tc.stat_ymd,'%Y-%m-%d') AS `range`,
		       SUM(CASE WHEN tc.`mode` = 'C' THEN 1 ELSE 0 END) AS postCnt,
		       SUM(CASE WHEN tc.`mode` = 'D' THEN 1 ELSE 0 END) AS delCnt
		 FROM tb_stat_post tc
		 WHERE stat_year = #{year}
		  AND stat_month = #{month} 
		 GROUP BY tc.stat_ymd
	</select>
	
	<select id="statWeekCommunity" resultType="CountCommunityStat" parameterType="map">
		SELECT 
			concat(tc.stat_year,'-',tc.stat_week) AS `range`,
		   SUM(CASE WHEN tc.`mode` = 'C' THEN 1 ELSE 0 END) AS postCnt,
		   SUM(CASE WHEN tc.`mode` = 'D' THEN 1 ELSE 0 END) AS delCnt
		FROM tb_stat_post tc
		WHERE stat_year = #{year}
		GROUP BY tc.stat_year,tc.stat_week 
	</select>
	<select id="statMonthCommunity" resultType="CountCommunityStat" parameterType="string">
		SELECT 
			CONCAT(stat_year,'-',stat_month) AS `range`,
		   SUM(CASE WHEN tc.`mode` = 'C' THEN 1 ELSE 0 END) AS postCnt,
		   SUM(CASE WHEN tc.`mode` = 'D' THEN 1 ELSE 0 END) AS delCnt
		FROM tb_stat_post tc
		WHERE stat_year = #{year}
		GROUP BY tc.stat_year, tc.stat_month
	</select>
	
	<select id="statYearCommunity" resultType="CountCommunityStat">
		SELECT 
			stat_year AS `range`,
		   SUM(CASE WHEN tc.`mode` = 'C' THEN 1 ELSE 0 END) AS postCnt,
		   SUM(CASE WHEN tc.`mode` = 'D' THEN 1 ELSE 0 END) AS delCnt
		FROM tb_stat_post tc
		GROUP BY tc.stat_year
	</select>
	
	<select id="statHourCommunity" resultType="CountCommunityStat">
		SELECT 
       		 stat_hour AS `range`, 
			 COUNT(stat_hour) AS postCnt,
			 0 AS delCnt
		 FROM tb_stat_post
		 WHERE MODE = 'C'
		 GROUP BY stat_hour
		 ORDER BY stat_hour
	</select>
	
	<insert id="insertPostStat" parameterType="PostStat" >
		INSERT INTO tb_stat_post(`MODE`, stat_year ,stat_month, stat_week , stat_ymd, stat_hour, stat_ampm, ref)
    		 VALUES(#{mode},#{stat_year},#{stat_month},#{stat_week},#{stat_ymd},#{stat_hour}, #{stat_ampm},#{ref})
	</insert>
</mapper>