<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TagMapper">
	<!-- TagMap위치가 여기에 있으면 안됨 -->
	<resultMap type="Tag" id="TagMapInPost" autoMapping="true">
		<id column="tseq" property="seq"/>
		<result column="tagname" property="tagName"/>
	</resultMap>
	<resultMap type="Tag" id="FullTagMap">
		<id column="tseq" property="seq"/>
		<result column="tagname" property="tagName"/>
		<result column="cnt" property="tagCount"/> 
	</resultMap>
	<insert id="bindTag" parameterType="Tag">
		insert into tb_posttag
		( post, tag)
		values
		( #{postSeq},#{seq} )
	</insert>
	<select id="findTagsByPost" parameterType="int" resultType="Tag">
		SELECT t.*
		 FROM tb_posttag tp
		 JOIN tb_tags t
		   ON tp.tag = t.seq
		 WHERE tp.post = #{postSeq}
	</select>
	<select id="tagSelect" parameterType="String" resultType="Tag">
	 	select seq 
	 	       ,tagName
	 	  from tb_tags
	 	  where tagName = #{tagName}     
	 </select>
	 <insert id="tagInsert" 
	 	parameterType="Tag"
	 	useGeneratedKeys="true"
	 	keyProperty="seq">
	 	INSERT INTO tb_tags(tagname) 
	 	  VALUES(#{tagName})
	 </insert>
	 
	 <select id="tagByPost" resultMap="FullTagMap" >
	 	SELECT
	 		t.seq as tseq,
	 		t.tagname ,
	 		COUNT(t.tagname) as cnt
		 FROM tb_tags t
		 LEFT JOIN tb_posttag tp
		       ON t.seq = tp.tag
		 LEFT JOIN tb_post p 
        ON tp.post = p.seq 
       GROUP BY  tagname  
	 </select>
	 <delete id="deleteTags" parameterType="Integer">
	 	delete from tb_posttag
	 	where post = #{postSeq}
	 </delete>
	 <select id="postsOfTag" resultMap="BlogPostMapper.PostMap" parameterType="int">
	 	select 
	 	 <include refid="BlogPostMapper.select_post"></include>
		FROM tb_posttag tt
		  INNER JOIN tb_post p
		       ON  tt.post = p.seq
		  WHERE tt.tag = #{tagSeq}
	 </select>
</mapper>