<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<resultMap type="User" id="UserMap">
		<id column="seq" property="seq"/>
		<result column="id" property="id"/>
		<result column="pwd" property="pwd"/>
		<result column="email" property="email"/>
		<result column="admin" property="admin"/>
	</resultMap>
	
	<resultMap type="User" id="banUserMap" extends="UserMap">
		<result column="ban_cnt" property="banCnt"/>
	</resultMap>
	
	<select id="findUser" parameterType="Integer" resultType="User">
		select 
			seq,
			id,
			pwd,
			email,
			admin
		from tb_user
		where seq = #{id}	
	</select>
	<select id="findUserV1" parameterType="Integer" resultMap="UserMap">
		select 
			seq,
			id,
			email,
			admin
		from tb_user
		where seq = #{id}	
	</select>
	<select id="login" parameterType="map" resultType="User">
		select 
		 	seq,
		 	id,
		 	pwd,
		 	email,
		 	admin,
		 	banTime
		 from tb_user
		 where id = #{id}
		 and pwd = #{pwd}	
	</select>
	<delete id="userDelete" parameterType="map">
		delete from tb_user
			where id = #{id}
				and email = #{email}
	</delete>
	<select id="findUserId" parameterType="String" resultType="User">
		select 
			seq,
			id,
			pwd,
			email,
			admin
		from tb_user
		where id = #{id}
	</select>
	<update id="updateAutoLoginKey" parameterType="map">
		update tb_user 
		set autoLoginKey = #{autoLoginKey}
		where seq = #{seq}
	</update>
	<select id="autoLoginKey" parameterType="String" resultType="User">
		select 
			seq,
			id,
			pwd,
			email,
			admin,
			autoLoginKey
		from tb_user
		where autoLoginKey = #{autoLoginKey}
	</select>
	<select id="findUserEmail" parameterType="String" resultType="User">
		select 
			seq,
			id,
			pwd,
			email,
			admin
		from tb_user
		where email = #{email}
	</select>
	<update id="updatePwd" parameterType="map">
		update tb_user 
		set pwd = #{pwd}
		where email = #{email}
	</update>
	<insert id="join" parameterType="User">
		insert into tb_user(id,email,pwd,pwhint,pwhintans)
		values(#{id},#{email},#{pwd},#{pwhint},#{pwhintans}) 
	</insert>
	<select id="hint" parameterType="User" resultType="User">
		SELECT
			seq,
			id,
			pwd,
			email,
			admin,
			autoLoginKey,
			pwhint,
			pwhintans 
 		FROM tb_user 
 		WHERE email = #{email}
 		 and pwhint = #{pwhint}
 		 and pwhintans = #{pwhintans}
	</select>
</mapper>